*
{
    box-sizing: border-box;
}

/*COMMONS*/

body
{
    font-family: 'Roboto', sans-serif;

    color: #202020;
}

img
{
    width: 100%;
}

body p
{
    font-size: 16px;
}

.wrapper
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.align
{
    padding: 0 20px;
}

.star {
	color: #e31e24;
}

/*HEADER*/

.b-header
{
    padding: 40px 0;
}

.b-header__logo
{
    padding-right: 30px;
}

.b-header strong
{
    color: #202020;
}

.b-header__location,
.b-header__hours,
.b-header__phones
{
    font-size: 12px;

    padding-left: 20px;
}

.b-header__location span,
.b-header__hours span,
.b-header__phones span
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

    color: #777;
}

.b-header__location p,
.b-header__hours p,
.b-header__phones p
{
    font-size: 14px;

    margin-bottom: 0;

    color: #202020;
}

.b-header__location > div,
.b-header__location > div > p,
.b-header__hours > div > p,
.b-header__phones > div > p
{
    margin-bottom: 5px;
}

.dropdown-menu > li > a,
.dropdown-toggle
{
    font-size: 14px;
    font-weight: bold;

    color: #202020;
}

.btn-default
{
    padding: 0;

    border: none;
    border-bottom: 1px dotted #202020;
    border-radius: 0;
    background: none !important;
    box-shadow: none !important;
}

.b-header .btn .caret
{
    color: #202020;
}

.b-header__location
{
    background: url(../img/icon-location.png) 0 3px no-repeat;
}

.b-header__hours
{
    background: url(../img/icon-clock.png) 0 3px no-repeat;
}

.b-header__phones
{
    background: url(../img/icon-phone.png) 0 3px no-repeat;
}

.logo
{
    display: block;

    width: 100%;
    max-width: 285px;
    height: 75px;

    background: url(../img/logo.png) 0 0 no-repeat;
    background-size: 100%;
}

.b-nav
{
    background: #f3f3f3;
}

.b-nav li a
{
    font-size: 18px;
    font-weight: bold;

    text-decoration: underline;

    color: #202020;
}

.b-nav li a:hover
{
    color: #e31e24;
}

.b-nav__menu,
.b-list-links
{
    position: relative;

    display: table;

    width: 100%;
    height: 50px;
    padding: 0;
}

.b-list-links
{
    height: 40px;
}

.b-list-links li a
{
    font-size: 16px;

    text-decoration: none;

    color: #777;
}

.b-list-links li a:hover
{
    color: #e31e24;
}

.b-nav__menu li,
.b-list-links li
{
    position: relative;

    display: table-cell;
}

.b-nav__menu li a,
.b-list-links li a
{
    line-height: 50px;

    position: relative;

    display: block;

    width: 100%;
    height: 100%;

    text-align: center;
}

.b-nav__menu li:last-child,
.b-list-links li:last-child
{
    max-width: 150px;
}

.b-nav__menu li:first-child a,
.b-list-links li:first-child a
{
    text-align: left;
}

.b-nav__menu li:last-child a,
.b-list-links li:last-child a
{
    text-align: right;
}

/*END OF HEADER*/

/*SLIDER*/

#main-slider,
#main-slider .item
{
    width: 100%;
    max-height: 575px;
}

.carousel-inner
{
    margin-bottom: 30px;

    -webkit-box-shadow: 0 4px 19px -4px rgba(0,0,0,.59);
       -moz-box-shadow: 0 4px 19px -4px rgba(0,0,0,.59);
            box-shadow: 0 4px 19px -4px rgba(0,0,0,.59);
}

/* #main-slider .item {
	position: relative;
} */

#main-slider .item img
{
    width: 100%;
}

.slide__btn-box
{
    position: absolute;
    right: 0;
    bottom: 50%;

    width: 100px;
    height: 50px;
    margin-bottom: -25px;
}

.slide__btn-box .carousel-control
{
    width: 50px;

    opacity: 1 !important;
    background: url(../img/bg.png);
}

.slide__btn-box .carousel-control span
{
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    opacity: .7;
}

.slide__btn-box .carousel-control span:hover
{
    opacity: 1;
}

.slide__btn-box .left span
{
    background: url(../img/slider-arrow-left.png) 0 0 no-repeat;
}

.slide__btn-box .right span
{
    background: url(../img/slider-arrow-right.png) 0 0 no-repeat;
}

.carousel-control:hover,
.carousel-control:focus
{
    opacity: .5;
}

.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before
{
    content: '';
}

.slide__item__description
{
    position: absolute;
    top: 50%;

    max-width: 50%;
    padding-left: 20px;
}

.slide__item__description h1,
.slide__item__description h4
{
    color: #fff;
}

.slide__item__description h1
{
    font-size: 60px;
    font-weight: 900;

    margin-bottom: 4px;
}

.slide__item__description h4
{
    font-size: 30px;
    font-weight: normal;
    line-height: 44px;

    margin-top: 0;
}

.slide__item__link
{
    font-size: 16px;
    font-weight: bold;

    display: inline-block;

    margin-top: 30px;
    padding: 10px 14px;

    text-decoration: none !important;

    color: #fff;
    border-radius: 4px;
    background: #e31e24;
}

.slide__item__link:hover
{
    color: #f4f1f1;
    background: #cc1b21;
}

/*END OF SLIDER*/

/*MAIN PAGE CONTENT*/

.hover-blocks
{
    margin-bottom: 30px;
}

.hover-blocks > div
{
    display: table;

    height: 100px;

    cursor: pointer;
}

.hover-blocks p
{
    font-size: 16px;

    display: table-cell;

    padding-right: 20px;
    padding-left: 75px;

    vertical-align: middle;
}

.hover-blocks p:hover
{
    -webkit-box-shadow: -1px 7px 5px -5px rgba(0,0,0,.75);
       -moz-box-shadow: -1px 7px 5px -5px rgba(0,0,0,.75);
            box-shadow: -1px 7px 5px -5px rgba(0,0,0,.75);
}

.hover-blocks p a
{
    text-decoration: underline;

    color: #202020;
}

/* .hover-blocks > div:hover {
	background: #e31e24;
} */

.hover-blocks > div:hover p,
.hover-blocks > div:hover p a
{
    color: #fff;
}

.hover-blocks__order
{
    padding-right: 0;
}

.hover-blocks__cost
{
    padding-right: 0;
    padding-left: 0;
}

.hover-blocks__solutions
{
    padding-left: 0;
}

.hover-blocks__order p
{
    background: url(../img/icon-order.png) 33px 50% no-repeat, #f3f3f3;
}

.hover-blocks__order p:hover
{
    background: url(../img/icon-order.png) 33px 50% no-repeat, #e31e24;
}

.hover-blocks__cost p
{
    background: url(../img/icon-cost-hover.png) 33px 50% no-repeat, #f3f3f3;
}

.hover-blocks__cost p:hover
{
    background: url(../img/icon-cost-hover.png) 33px 50% no-repeat, #e31e24;
}

.hover-blocks__solutions p
{
    background: url(../img/icon-solutions.png) 25px 50% no-repeat, #f3f3f3;
}

.hover-blocks__solutions p:hover
{
    background: url(../img/icon-solutions.png) 25px 50% no-repeat, #e31e24;
}

.b-suggestions
{
    position: relative;

    margin-bottom: 54px;
}

.b-suggestions img
{
    max-height: 200px;
}

.b-suggestions__full img
{
    max-height: 410px;
}

.b-suggestions__min div:first-child
{
    margin-bottom: 10px;
}

.b-full__description,
.b-min__description
{
    position: absolute;
    top: 50%;

    max-width: 50%;
    padding-left: 20px;

    color: #fff;
}

.b-min__description
{
    top: 0;

    max-width: 65%;
    margin-top: 15px;
}

.b-suggestions a
{
    position: absolute;
    top: 0;

    display: block;

    width: 100%;
    height: 100%;

    text-decoration: none;
}

.b-full__description h3,
.b-min__description h3
{
    font-size: 30px;
    font-weight: 900;

    margin: 0;
    margin-bottom: 16px;

    color: #fff;
}

.b-full__description p,
.b-min__description p
{
    font-size: 16px;

    margin: 0;
    margin-bottom: 20px;

    color: #fff;
}

.b-catalog
{
    margin-bottom: 24px;
}

.title
{
    font-size: 36px;
    font-weight: 900;

    margin: 0;
    margin-bottom: 25px;
}

.b-catalog__tile
{
    position: relative;

    overflow: hidden;

    max-height: 285px;
    margin-bottom: 30px;
}

.b-tile__mask
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 20px;

    background: url(../img/bg.png);
}

.b-tile__mask a
{
    font-size: 16px;

    display: block;

    text-decoration: underline;

    color: #fff;
}

.b-tile__mask p
{
    margin-bottom: 0;

    color: #fff;
}

.b-tile__mask a:hover
{
    text-decoration: none;
}

.b-tile__mask h3
{
    font-size: 30px;
    font-weight: 900;

    margin: 0;

    color: #fff;
}

.b-catalog__tile:hover
{
    -webkit-box-shadow: 0 4px 19px -4px rgba(0,0,0,.59);
       -moz-box-shadow: 0 4px 19px -4px rgba(0,0,0,.59);
            box-shadow: 0 4px 19px -4px rgba(0,0,0,.59);
}

.b-catalog__tile:hover .b-tile__mask
{
    background: url(../img/bg-red.png);
}

.b-mask__align-bottom
{
    position: absolute;
    bottom: 20px;
}

.b-work__tile
{
    margin-bottom: 38px;
    padding-left: 105px;
}

.b-work__tile p
{
    font-size: 16px;

    margin-bottom: 0;
}

.b-work__tile a
{
    font-size: 16px;

    display: inline-block;

    margin-top: 12px;

    text-decoration: none;

    color: #777;
    border-bottom: 1px dotted #777;
}

.b-work__tile a:hover
{
    color: #e31e24;
    border-bottom: 1px dotted #e31e24;
}

.b-work__tile i
{
    position: absolute;
    top: 5px;
    left: 15px;

    width: 75px;
    height: 52px;
}

.b-work__tile .icon-1
{
    background: url(../img/icon-1.png) 0 0 no-repeat;
}

.b-work__tile .icon-2
{
    background: url(../img/icon-2.png) 0 0 no-repeat;
}

.b-work__tile .icon-3
{
    background: url(../img/icon-3.png) 0 0 no-repeat;
}

.b-work__tile .icon-4
{
    background: url(../img/icon-5.png) 0 0 no-repeat;
}

.b-work__tile .icon-5
{
    background: url(../img/icon-5.png) 0 0 no-repeat;
}

.b-work__tile .icon-6
{
    background: url(../img/icon-6.png) 0 0 no-repeat;
}

/*SLICK SLIDER*/

.slick-initialized .slick-slide
{
    outline: none;
}

.b-contact__contacts
{
    background: url(../img/icon-phone.png) 0 5px no-repeat;
}

.b-contact p
{
    margin-bottom: 0;
}

.b-contact__contacts,
.b-contact__address,
.b-contact__hours,
.b-contact__links
{
    padding-left: 20px;
}

.b-contact__links
{
    padding-left: 0 !important;
}

.b-contact__links a
{
    text-decoration: none;

    color: #777;
    border-bottom: 1px dotted #777;
}

.b-contact__links a:hover
{
    border-bottom: none;
}

/*FOOTER*/

.b-contact
{
    margin-top: 80px;
    padding-top: 60px;

    border-top: 2px solid #202020;
}

.b-contact > div:first-child
{
    padding-left: 0;
}

.b-contact > div:last-child
{
    padding-right: 0;
}

.details
{
    margin-top: 60px;
    margin-bottom: 55px;
}

.details a
{
    display: block;
    float: left;

    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.ok
{
    background: url(../img/ok.png) 0 0 no-repeat;
}

.goo
{
    background: url(../img/goo.png) 0 0 no-repeat;
}

.fb
{
    background: url(../img/fb.png) 0 0 no-repeat;
}

.vk
{
    background: url(../img/vk.png) 0 0 no-repeat;
}

.footer
{
    background: #202020;
}

.footer p
{
    font-size: 12px;
    line-height: 30px;

    margin: 0;

    color: #fff;
}

.footer .row > div:last-child
{
    text-align: right;
}
/*END OF FOOTER*/

.stock {
	width: 60px;
	height: 60px;
	position: fixed;
	top: 50%;
	margin-top: -30px;
	display: block;
	left: 0;
	background: url(../img/icon-stock.png) 0 0 no-repeat;
}

.right-links {
	right: 0;
	width: 60px;
	position: fixed;
	top: 50%;
	margin-top: -90px;
}

.right-links a {
	display: block;
	margin-bottom: 5px;
	width: 60px;
	height: 60px;
}

.measurement {
	background: url(../img/icon-measurement.png) 0 0 no-repeat;
}

.calc {
	background: url(../img/icon-calc.png) 0 0 no-repeat;
}

.chat {
	background: url(../img/icon-calc.png) 0 0 no-repeat;
}
/*END OF CONTENT*/

/*PAGE OF CALCULATOR (WINDOWS)*/

.b-calc__windows > .row {
	border-right: 2px solid #202020;
}

.gray {
	background: #f5f5f5;
}

.b-windows__window-box {
	position: relative;
}

.b-window-box__level-1, 
.b-window-box__level-2 {
	display: none;
}

.b-window__height ,
.b-window__width {
	color: #e53b40
}

.b-window__height span,
.b-window__width span {
	color: #202020;
}

.b-level-3__window {
	padding: 58px 30px 30px 30px;
	font-size: 0;
	position: relative;
}

.b-level-3__window div {
	width: 33.333333333333336%;
	display: inline-block;
	font-size: 16px;
}

.b-window__height,
.b-window__width {
	position: absolute;
}

.b-window__width {
	top: 30px;
	width: 100%;
	text-align: center;
	margin-left: -30px;
}

.b-window__height {
	transform: rotate(270deg);
	left: -27px;
	top: 50%;
	text-align: center;
}

.b-window-box__field {
	text-align: right;
	height: 50px;
	margin-bottom: 0;
}

.b-calc label {
	font-weight: 400;
	font-size: 16px;
	float: left;
	
}

.b-window-box__field .select {
	text-align: left;
}

.b-window-box__field label {
  line-height: 36px;
}

.b-window-box__field .form-control {
	font-weight: 500;
	color: #000;
	font-size: 16px;
}

.b-calc__default {
	padding-top: 10px;
	margin-bottom: 27px;
}

.b-calc__default h3 {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 3px;
	line-height: 40px;
}

.add-field {
	font-size: 16px;
	border-bottom: 1px dashed #777777;
	color: #777777 !important;
	text-decoration: none !important;
	display: inline-block;
	margin-bottom: 25px;
	margin-top: 11px;
}

.b-calc__counter {
    float: right;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 0;
    height: 35px;
}

.b-calc__counter a {
    width: 30px;
    height: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    position: relative;
    font-size: 14px;
    color: #777;
    overflow: hidden;
}

.b-calc__counter a:hover {
    background: #e31e24;
    color: #fff;
}

.b-calc__counter a span {
    line-height: 33px;
}

.b-calc__counter a:first-child {
    border-right: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.b-calc__counter a:last-child {
    border-left: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.b-calc__counter input {
    width: 75px;
    font-size: 14px;
    border: 0;
    background: #fff;
    text-align: center;
    color: #777777;
    height: 100%;
}



/*CUSTOM RADIO BUTTONS*/

label input[type="radio"] ~ i.fa.fa-circle-o{
  display: inline;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o{
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o{
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
  display: inline;
}


div[data-toggle="buttons"] label {
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
	background-color: none;
	color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-right: 30px;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.fa-circle-o:before {
	content: "";
	width: 12px;
	height: 12px;
	background: url(../img/icon-radio.png) 0 0 no-repeat;
	display: inline-block;
}

.fa-dot-circle-o:before {
	content: "";
	width: 12px;
	height: 12px;
	background: url(../img/icon-radio-active.png) 0 0 no-repeat;
	display: inline-block;
}

.b-default__window1 {
	padding-left: 20px !important;
	background: url(../img/icon-window1.png) 0 2px no-repeat !important;
}

.b-default__window2 {
	padding-left: 30px !important;
	background: url(../img/icon-window2.png) 0 2px no-repeat !important;
}

.b-default__window3 {
	padding-left: 30px !important;
	background: url(../img/icon-window3.png) 0 2px no-repeat !important;
}

.b-default__select {
	margin-bottom: 30px;
}

.b-field__input {
	display: inline-block;
	position: relative;
  font-size: 16px;
  width: 155px;
  height: 35px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding-left: 10px;
  color: #000;
	background: #fff;
}

.b-default__add-field {
	padding-left: 4px;
	font-size: 0;
	position: relative;
}

.b-sill__style,
.b-sill__width,
.b-sill__height {
	display: inline-block;
	font-size: 16px;
}

.b-sill__style, .b-sill__width {
	margin-right: 45px;
}

.b-sill__width label,
.b-sill__height label {
	margin-right: 15px;
}

.sill__remove {
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	background: url(../img/clear.png) 0 0 no-repeat;
	width: 7px;
	height: 7px;
}


/*CUSTOM SELECT MENU*/

.jq-selectbox__select {
    width: 155px;
    height: 35px;
    background: #fff;
    border: 1px solid #dddddd;
    box-shadow: none;
}

.jq-selectbox__trigger {
    border: none;
}

.jq-selectbox__select-text {
    text-align: left;
}

.jq-selectbox__select:hover {
    background: #fff !important;
}

.jq-selectbox__trigger-arrow {
    border: none;
    width: 10px;
    height: 7px;
    background: url(../img/arrow-select-bottom.png) 0 0 no-repeat;
}

.jq-selectbox.opened .jq-selectbox__trigger-arrow {
    background: url(../img/arrow-select-top.png) 0 0 no-repeat;
}

.jq-selectbox li:hover {
    background: #fff;
}

.jq-selectbox li.selected {
    background: #fff;
}

.jq-selectbox li.selected {
    color: #000;
}

.b-calc li {
  margin: 0;
  text-align: left;
  padding: 12px 0;
  padding-left: 10px;
  color: #000;
}

.jq-selectbox ul {
    border-radius: 5px;
}

.b-calc li:hover {
	color: #e31e24
}

.b-sill__width .jq-selectbox__select,
.b-sill__height .jq-selectbox__select {
    width: 75px;
    padding: 0;
    padding-left: 10px;
}

.b-default__add-field {
    margin-bottom: 15px;
}

/*CATALOG PAGE*/

.b-tile-more {
  margin-bottom: 20px;
}

.b-tile-more .row > div {
  margin-bottom: 30px;
}

.b-more__content h3 {
  font-weight: 900;
  font-size: 30px;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 5px;
}

.b-content__link {
  color: #777 !important;
  font-size: 16px;
  text-decoration: underline
}

.b-content__link:hover {
  text-decoration: none;
}

.b-tile-min-more .b-more__content {
  margin-bottom: 30px;
}

.b-tile-min-more .b-more__content .b-more__img-box {
  margin-bottom: 15px;
}

/*ASIDE*/

.b-aside {
  background: #f3f3f3;
  position: relative;
}


.b-aside__list {
  margin: 0;
  padding: 0;
}

.b-aside__list li {
  list-style: none;
  border-bottom: 2px solid #fff;
}

.b-aside__list li a {
  padding: 0 15px;
  line-height: 45px;
  display: block;
  font-size: 16px;
  color: #202020;
  font-weight: 400;
  text-decoration: none;
}

.b-list__active a, .b-aside__list li a:hover {
  background: #e31e24;
  color: #fff !important;
}

#handle {
  display: none;
}

/*MEDIA*/

@media all and (max-width: 1200px)
{
    .b-nav li a,
    .b-list-links li a
    {
        font-size: 15px;
    }

    .b-full__description h3, .b-min__description h3 {
    	font-size: 25px;
    }

    .b-full__description h3, .b-min__description h3 {
    	margin-bottom: 10px;
    }

    .b-full__description p, .b-min__description p {
    	margin-bottom: 5px;
    }
}

@media all and (max-width: 1090px)
{
    .b-nav__menu li,
    .b-list-links li
    {
        float: left;

        width: 25%;

        text-align: center;
    }

    .b-nav__menu li a,
    .b-list-links li a
    {
        line-height: 25px;
    }

    .b-nav__menu li a,
    .b-list-links li a
    {
        padding: 10px;

        text-align: center !important;
    }

    .b-nav__menu li:last-child,
    .b-list-links li:last-child
    {
        max-width: 100%;
    }
}

@media all and (max-width: 992px)
{
    .logo
    {
        margin: 0 auto 30px auto ;
    }

    .b-header .row
    {
        margin: 0;
    }

    .slide__item__description h1 {
    	font-size: 45px;
    }

    .slide__item__description h4 {
    	font-size: 25px;
    	line-height: 30px;
    }

    .b-suggestions__full {
    	margin-bottom: 30px;
    }

    .b-contact > div {
    	margin-bottom: 30px
    }

    .b-contact > div:first-child {
    	padding-left: 15px;
    }

    .b-contact > div:last-child {
    	padding-right: 15px;
    }

    .hover-blocks__cost,
    .hover-blocks__order,
    .hover-blocks__solutions {
    	padding-left: 15px;
    	padding-right: 15px;
    }
}

@media all and (max-width: 768px)
{
    .b-header__location,
    .b-header__hours
    {
        margin-bottom: 25px;
    }

    .b-nav__menu li,
    .b-list-links li
    {
        width: 50%;
    }

    .slide__item__description h1 {
    	font-size: 35px;
    }

    .slide__item__description h4 {
    	font-size: 16px;
    	line-height: 25px;
    }

    .b-suggestions__min div:first-child {
    	margin-bottom: 30px;
    }
}

@media all and (max-width: 600px) {
	#main-slider {
		display: none;
	}
}

@media all and (max-width: 400px)
{
    .b-nav__menu li,
    .b-list-links li
    {
        width: 100%;
    }
}
